---
layout: page
title: Apple Tax - 历史报价
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/ico/favicon.png">
    <title>Apple Tax - 历史报价</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://appletax.github.io/">Apple Tax</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://appletax.github.io/QA">常见问题</a></li>
            <li><a href="http://appletax.github.io/Service">售后保修服务</a></li>
            <li><a href="http://appletax.github.io/history">历史报价</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
         <h3>历史报价</h3>
         <hr>
    <p></p>
    <ul class="nav nav-list">
       <li>{% include JB/setup %}
       {% assign posts_collate = site.posts %}
       {% include JB/posts_collate %}</li>
      </ul>
    <hr>
    </div> <!-- /container -->

    <div id="footer">
      <div class="container">
        <p class="text-muted">@appletax.github.io-2014</p>
      </div>
    </div>